In [1]:
import pandas as pd
import numpy as np
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(('attacks.csv'), engine = 'python')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [12]:
df.columns.str.replace(" ", "_")

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time',
       'Species_', 'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number.1', 'Case_Number.2', 'original_order', 'Unnamed:_22',
       'Unnamed:_23'],
      dtype='object')

In [9]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
df = df[['Case Number','Date', 'Year', 'Country','Area']]
df.head()

In [ ]:
shark_df['Case Number'].duplicated().value_counts()

In [ ]:
df_clean = shark_df.drop_duplicates()

In [ ]:
df_clean.head()

In [ ]:
df_clean.duplicated().sum()

In [ ]:
print(df_clean.Country.value_counts().head(29))

In [ ]:
df_clean.isnull().sum()

In [ ]:
df_clean["Year"].value_counts().nlargest(20).plot(kind="bar")

In [ ]:
df_clean["Year"].fillna(0)

In [ ]:
df_clean['Year'].isnull().sum()

In [ ]:
df_clean = df_clean.fillna(0)

In [ ]:
df_clean[['Year']] = df_clean[['Year']].astype(int)

In [ ]:
df_clean.head(50)

In [ ]:
df_clean[['Date']] = df_clean[['Date']].astype(str)

In [ ]:
df_clean.head()

In [ ]:
df_year = df_clean[(df_clean.Year >= 1950)]

In [ ]:
df_year.head()

In [ ]:
df_year = df_clean[(df_clean.Year < 2018)]

In [ ]:
df_year

In [ ]:
df_year["Year"].value_counts().nlargest(20).plot(kind="bar")

In [ ]:
df_year["Area"].value_counts().nlargest(20).plot(kind="bar")

In [ ]:
df_year = df_clean[(df_clean.Area == "Florida")]

In [ ]:
df_year

In [ ]:
df_year = df_clean[(df_clean.Year >= 1928)&(df_clean.Year <= 2016)&(df_clean.Area == 'Florida')]

In [ ]:
df_year

In [ ]:
df_year=df_year["Year"].value_counts().nlargest(10).plot(kind="bar")

In [ ]:
%matplotlib inline
plt.hist(df_year["Year"])

In [ ]:
hight_temp = pd.DataFrame({'Year':[1941, 1948, 1957, 1959, 2000, 2002, 2003, 2007, 2013, 2015], 
                           'Temperature':[28.5, 29, 28, 28, 28.5, 29.2, 29, 28.5, 28.5, 28.5]})

In [ ]:
hight_temp

In [ ]:
low_temp = pd.DataFrame({'Year':[1928, 1935, 1950, 1976, 1977, 1979, 1984, 1988, 2004, 2010, 2015], 
                           'Temperature':[26, 26, 26.5, 26, 26.5, 26.5, 26.5, 26.5, 27, 26.5]})

In [ ]:
low_temp  = pd.DataFrame({'Year':[1941, 1948, 1957, 1959, 2000, 2002, 2003, 2007, 2013, 2015], 
                           'Temperature':[28.5, 29, 28, 28, 28.5, 29.2, 29, 28.5, 28.5, 28.5]})

In [ ]:
low_temp